# Node
node_modules/
dist/
build/
.env
*.log

# Service folders
frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/dist/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Docker
*.tar

# K8s
.kube/

# Terraform generated artifacts
infra/terraform/.generated/

# IDE
.vscode/
.DS_Store